#question1, #question2, #question3, #question4, #question5, #question6, #question7, #question8, #question9 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

#note3, #note4, #note7, #note8 {
    font-size: 1.05rem;
    font-style: italic;
}





